{% load static %}

<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SafetyNow - Home</title>
    <link rel="stylesheet" href="{% static 'css/homestyle.css' %}">
</head>
<body>
    <div class="container">
        <h1>Bienvenido a la Página Principal</h1>
        
        <div class="menu">
            <h2>Menú de Retirar</h2>
            <p>Aca retiras tu EPP</p>
            <a href="{% url 'retirar' %}">Ir a Retirar</a>
        </div>
        
        <div class="menu">
            <h2>Menú de Consultar</h2>
            <p>Acá podes realizar consultas sobre tu EPP</p>
            <a href="{% url 'consultar' %}">Ir a Consultar</a>
        </div>
        
        <div class="menu">
            <h2>Opción para Salir de la Sesión</h2>
            <a href="{% url 'logout' %}">Cerrar sesión</a>
        </div>
    </div>
    <footer class="footer">
        <p>Más sobre SafetyNow: <a href="#">Visita nuestra página</a></p>
    </footer>
</body>
</html>